<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Blog</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<!-- Lock window scrolling on the blog page -->
<body class="no-window-scroll blog-top">


{% include 'post.njk' %}



</body>
</html>