
{% macro PostCard(title, date, excerpt, url) -%}
<article class="post">
  <div class="post-head">
    <div>{{ title }}</div>
    <div>| {{ date | fmtDate }}</div>
  </div>
  <div class="post-body">
    {{ excerpt | safe }}
  </div>
  <div class="more">
    <a href="{{ url | url }}">read more →</a>
  </div>
</article>
{%- endmacro %}
