---
layout: base.njk
title: About
permalink: /about/index.html
bodyClass: "page-center_home"
wrapMain: false
---

<div class="about-wrap">
  <a class="backbtn backbtn-outside" href="{{ '/' | url }}">← go back</a>

  <main class="mainbox">
    <div class="title">About me</div>
    <p>James.</p>

    <hr class="divide">

    <div class="title">Important links</div>
    <ul>
      <li><a href="https://www.youtube.com/@jayemo" target="_blank" rel="noopener">Youtube</a></li>
      <li><a href="mailto:j59318934@gmail.com" target="_blank" rel="noopener">Email me</a></li>
      <li><a href="https://backloggd.com/u/James9712/" target="_blank" rel="noopener">Backloggd</a></li>
    </ul>

    <hr class="divide">

    <div class="title">my local time (Sydney)</div>
    <div class="clock"><span id="clockSydney">--:--:--</span></div>
  </main>
</div>

