---
layout: 'base.njk'
title: 9712 — Blog
permalink: /blog/index.html
bodyClass: "no-window-scroll blog-top"
---

<!-- Kafu-like blog layout -->
  <div class="blog-wrap">
    <aside class="blog-left">
      <section class="box" style="width:260px;">
        <div class="boxtitle">blog</div>
        <div class="divide"></div>
        <div class="boxbody">
          <p><a class="backbtn" href="../index.html">← go back</a></p>
          <p>James' interestdump, you might find something in here you like.</p>
        </div>
      </section>
    </aside>


</div>

<script src="javascript/site.js"></script>
