---
layout: 'base.njk'
title: Home
bodyClass: "page-center_home"
---

<div class="layout-two">
  <aside class="navbox navbox--home">
    <nav class="navlist">
      <!-- no bold "home" header -->
      <p><a href="{{ '/blog/'  | url }}">blog</a></p>
      <p><a href="{{ '/about/' | url }}">about</a></p>
    </nav>
  </aside>

  <main class="mainbox">
    <div class="title">welcom!</div>
    <p>This is my hub where I'll post about interesting things I do or things about me.</p>
    <p>Everything is still work in progress</p>

    <hr class="divide">

    <div class="title">Notes</div>
    <p>This website is hosted on Netlify, blogging is powered by Nunjucks and 11ty</p>

    <div class="title" style="margin-top: 16px;">Do your eyes hurt?</div>
    <label class="sr-only" for="themeSelect">Theme</label>
    <select id="themeSelect" class="theme-select">
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </main>
</div>

